{{ define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end }}
{{ define "body_classes" }}page-get-involved{{ end }}

{{ define "main" }}
<div class="features-section my-5">
  <div class="container text-center">

    <h1 class="mb-2">{{ .Title }}</h1>
    <p class="mb-4 muted">{{ .Description }}</p>

    <div class="row justify-content-center">
      {{ range .Params.cards }}
      <div class="col-12 col-md-6 col-xl-4 mb-2">
        <div class="feature border h-100 d-flex flex-column justify-content-between">
          <div>
            {{ if .icon }}
            <div class="mb-3 text-muted">
              <i class="{{ .icon }} fa-2x" aria-hidden="true"></i>
            </div>
            {{ end }}
            <h2 class="text-body">{{ .title }}</h2>
            <div class="feature-content">
              <p>{{ .description }}</p>
              {{ with .note }}
              <p class="small muted mb-0">{{ . }}</p>
              {{ end }}
            </div>
          </div>

          {{ if .buttons }}
          <div class="mt-3">
            {{ range .buttons }}
            <a href="{{ .url }}" target="_blank" rel="noopener" class="button {{ if .secondary }}button-secondary {{ end }}w-100 mb-2" {{ with .color }}style="background-color: {{ . }};"{{ end }}>
              {{ with .icon }}<i class="{{ . }} mr-1" aria-hidden="true"></i>{{ end }}{{ .text }}
            </a>
            {{ end }}
          </div>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>

  </div>
</div>
{{ end }}