{{- $baseUrl := strings.TrimSuffix "/" .Site.Params.homepage_meta_tags.meta_og_url -}}

{{- /* Banner */ -}}
{{- $bannerItem := dict "media" (dict "url" "https://i.imgur.com/sgX60CG.png") "description" "Banner" -}}
{{- $bannerSection := dict "type" 12 "items" (slice $bannerItem) -}}

{{- /* Blog posts */ -}}
{{- $blogLines := slice -}}
{{- range ( where site.RegularPages "Section" "blog" | first 3 ) -}}
  {{- $postUrl := printf "%s%s" $baseUrl .RelPermalink -}}
  {{- $blogLines = $blogLines | append (printf "- %s: [%s](%s)" (.PublishDate.Format "2006-01-02") .Title $postUrl) -}}
{{- end -}}
{{- $blogContent := printf "[Latest from the blog](%s/blog/)\n%s" $baseUrl (delimit $blogLines "\n") -}}

{{- /* Header and Logo */ -}}
{{- $tagline := (.Content | plainify | chomp) | default .Site.Params.homepage_meta_tags.meta_description -}}
{{- $headerContent := printf "### [%s](%s/)\n%s" .Site.Title $baseUrl $tagline -}}
{{- $logoUrl := printf "%s/%s" $baseUrl .Site.Params.logo.desktop -}}

{{- /* Modular components */ -}}
{{- $headerStep := dict "type" 10 "content" $headerContent -}}
{{- $headerAccessory := dict "type" 11 "media" (dict "url" $logoUrl) -}}
{{- $headerSection := dict "type" 9 "components" (slice $headerStep) "accessory" $headerAccessory -}}
{{- $blogSection := dict "type" 10 "content" $blogContent -}}

{{- /* Action Row 1 */ -}}
{{- $btnContribute := dict "type" 2 "style" 5 "url" (printf "%s/get-involved/" $baseUrl) "label" "Contribute" "emoji" (dict "name" "❤") -}}
{{- $btnDownload := dict "type" 2 "style" 5 "url" (printf "%s/download/" $baseUrl) "label" "Download" "emoji" (dict "name" "⬇️") -}}
{{- $rowPrimary := dict "type" 1 "components" (slice $btnContribute $btnDownload) -}}

{{- /* Divider */ -}}
{{- $divider := dict "type" 14 -}}

{{- /* Action Row 2 */ -}}
{{- $socialButtons := slice -}}
{{- range .Site.Data.social -}}
  {{- if and (not .skip) .emoji -}}
    {{- $btn := dict "type" 2 "style" 5 "url" .link "emoji" .emoji -}}
    {{- $socialButtons = $socialButtons | append $btn -}}
  {{- end -}}
{{- end -}}
{{- $rowSocial := dict "type" 1 "components" $socialButtons -}}

{{- /* Top-level Container */ -}}
{{- $components := slice $bannerSection $headerSection $blogSection $rowPrimary $divider $rowSocial -}}
{{- $container := dict "type" 17 "accent_color" 4435306 "components" $components -}}
{{- $discordData := dict "component" $container -}}

<script id="discord:component-embed" type="application/json">{{ $discordData | jsonify | safeJS }}</script>