<div class="modal fade" id="guiModal" tabindex="-1" role="dialog" aria-labelledby="guiModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content border-dark">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold" id="guiModalTitle">Stockfish is a command line program.</h5>
                <button type="button" class="close text-white" id="guiModalCloseCross" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="mb-0">
                    To play or analyze chess visually with Stockfish, you will need to run it inside a Chess Graphical User Interface (GUI).
                </p>
            </div>
            <div class="modal-footer flex-column flex-sm-row justify-content-between align-items-stretch">
                <a href="https://official-stockfish.github.io/docs/stockfish-wiki/Download-and-usage.html#download-a-chess-gui" target="_blank" rel="noopener noreferrer" class="button button-download text-center mb-2 mb-sm-0">
                    Download a GUI
                </a>
                <button type="button" id="guiModalDismissBtn" class="button button-secondary text-center">
                    I already have a GUI / I don't need a GUI
                </button>
            </div>
        </div>
    </div>
</div>